@import "all-scss/nullstyle.scss";
@import "all-scss/fonts.scss";
@import "all-scss/header.scss";
@import "all-scss/about_us.scss";
@import "all-scss/marketings.scss";
@import "all-scss/process.scss";
@import "all-scss/abcde.scss";
@import "all-scss/prescence.scss";
@import "all-scss/services.scss";
@import "all-scss/package.scss";
@import "all-scss/footer.scss";
@import "all-scss/btn.scss";

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    overflow-x: hidden;
}

.container {
    padding: 0 10px 0 10px;
    width: 1400px;
    margin: 0 auto;

    // border: 1px solid black;
}