.btn {
    background-color: #F94D53;
    color: #fff;
    padding: 17px 66px 18px 65px;
    border-radius: 10px;

    &:hover {
        background-color: #e83c32;
    }

    &:active {
        opacity: 0.7;
    }

    span {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
}

.btn-other {
    padding: 17px 85px 18px 65px;
    position: relative;

    .btn-look {

        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/arrow.png);
            background-repeat: no-repeat;
            width: 20px;
            height: 15px;
            left: 167px;
            top: 23px;
        }
    }
}

.btn-about_us {
    padding: 17px 95px 18px 65px;
    position: relative;
    
    .btn-look {
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/arrow.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 20px;
            height: 15px;
            left: 160px;
            top: 25px;
        }
    }
}