.footer {
    position: relative;
    background-color: #1A2631;
    text-align: center;
    padding: 194px 0 118px 0;
    overflow: hidden;

    &::after {
        position: absolute;
        content: '';
        background-image: url(../img/Vector\ 4.png);
        background-repeat: no-repeat;
        width: 403px;
        height: 234px;
        left: -100px;
        top: 330px;
        opacity: 0.2;
    }

    &::before {
        position: absolute;
        content: '';
        background-image: url(../img/Vector\ 3.png);
        background-repeat: no-repeat;
        width: 347px;
        height: 404px;
        right: 0px;
        top: 40px;
        opacity: 0.7;
    }

    .footer-list {
        display: inline-block;
        vertical-align: top;
        margin: 0 97px 0 0;
        text-align: left;

        &:last-child {
            margin: 0;
        }

        .footer-list-head {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
            margin: 0 0 12px 0;
        }

        .footer-list-item a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #E6E6E6;

            &:hover {
                text-decoration: underline;
            }

            &:active {
                opacity: 0.5;
            }
        }
    }
}